/* get-rides.module.css */

.pageContainer {
  background-color: #D2DDDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.filterContainer > div {
  margin-right: 10px; 
  flex-direction: row;
}

.card:hover {
  transform: scale(1.08); /* Scale the container by 5% when hovered */
}


.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allow multiple rows */
  justify-content: center;
  margin-top: 20px;
  font-size: medium;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  width: 800px; /* Adjust width as needed */
  height: 270px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  position: relative;
}

.cardetails {
  width: 45%;
}

.ridedetails p {
  font-weight: bold;
  margin-left: 40px; 
}

.cardetails ul {
  list-style: none;
  padding: 0;
}

.ridedetails {
  width: 45%;
}


.ridedetails ul {
  list-style: none;
  padding:10;
}


.bookButton {
  padding: 10px 20px;
  background-color: #383838;
  color: yellow;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  position: absolute; /* Position relative to the card */
  bottom: 20px; /* Adjust distance from bottom as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

.imageContainer {
  width: 30%;
  
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

