/* styles/ride-booked.module.css */

.container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container h1 {
    color: rgb(18, 13, 13);
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .container button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .container button:hover {
    background-color: #000000;
  }
  