body {
  margin: 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.btn-connect {
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.registerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.register-card {
  width: 300px; /* Fixed width */
  height: 420px; /* Fixed height */
  border: 2px solid #000; /* Border color and width */
  border-radius: 10px; /* Border radius for round edges */
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-ele {
  height: 60px;
  display: flex;
  align-items: center;
}
